@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<NbtTools.Entities.Trading.Enchantment> EnchantmentLocalizer
@inject IStringLocalizer<NbtTools.Items.Item> ItemLocalizer

@{
    @model NbtTools.Entities.Trading.TradeComponent
    @addTagHelper *, McMerchants
}

<!--minecraft-item-image for="@Model.Item"></minecraft-item-image-->

@Html.DisplayFor(x => Model.Quantity) @Model.Item.Name
@if (Model.Enchantments.Count > 0)
{
    <ul>
        @foreach (var enchantment in Model.Enchantments) {
            <li>@EnchantmentLocalizer[enchantment.Id] (@enchantment.Level)</li>
        }
    </ul>
}