@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<NbtTools.Entities.Trading.Enchantment> EnchantmentLocalizer
@model NbtTools.Entities.Trading.TradeComponent

<div>
    <div class="sprite" data-item="@Model.Item.Id"></div>
    <div class="text">@Html.DisplayFor(x => Model.Quantity) @Model.Item.Name</div>
</div>

@if (Model.Enchantments.Count > 0)
{
    <ul>
        @foreach (var enchantment in Model.Enchantments) {
            <li>@EnchantmentLocalizer[enchantment.Id] (@enchantment.Level)</li>
        }
    </ul>
}