@{
    Layout = "_Layout";
}
@model ICollection<McMerchants.Models.Database.TradingRegion>
@inject McMerchants.Services.ItemProviderLinksBuilder linksBuilder

<div>
    <h1>Trading zones</h1>

    <ul class="globalList">
    @foreach (var tradingZone in Model)
    {
        <div class="identity">
            <span class="storeName">@tradingZone.Name</span>
            <a class="tradesLink" 
                asp-controller="TradingZone" 
                asp-action="Details" 
                asp-route-zoneid="@tradingZone.Id"
            >See all trades here</a>

            @if(linksBuilder.CanGenerateMapLinks)
            {
                <a class="mapLink" href="@linksBuilder.GetMapUrlFor(tradingZone)">@linksBuilder.MapLinkTitle</a>
            }

            @if(!string.IsNullOrWhiteSpace(tradingZone.URL))
            {
                <a class="customLink" href="@tradingZone.URL">@linksBuilder.CustomLinkTitle</a>
            }
        </div>
    }
    </ul>
</div>